<!DOCTYPE html>
<html>
<head>
    <title>SucessFully registered</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/style.css'>
</head>
<body>
    <h1>Thank you for Filling form !!!!!!!</h1>
    <p>
        Name : <Strong><%= data.who %></Strong>
        Department : <Strong><%= data.dept %></Strong>
        Email : <Strong><%= data.email %></Strong>
    </p>
    
</body>
</html>